<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>写文章</title>
  <link rel="stylesheet" href="scss/reset.scss">
  <link rel="stylesheet" href="scss/common.scss">
  <link rel="stylesheet" href="scss/add.scss">
  <script src="//at.alicdn.com/t/font_2204608_dqjzjee62o.js"></script>
</head>

<body>
  <div id="root">
    <header class="z-header">
      <div class="z-header-inner">
        <a href="index.html">
          <div class="blog-name">简约博客</div>
        </a>
        <button class="issue issue-disabled" id="issue">发布</button>
        <div class="username-login" id="username-login"></div>
      </div>
    </header>
    <main class="add-main">
      <textarea name="" autofocus id="title" cols="30" rows="10" placeholder="请输入文章标题（最多15个字）"></textarea>
      <textarea name="" id="content" cols="30" rows="10" placeholder="请输入正文"></textarea>
    </main>
  </div>
  <script src="./js/add.js"></script>
</body>

</html>