<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文章详情</title>
  <link rel="stylesheet" href="scss/reset.scss">
  <link rel="stylesheet" href="scss/common.scss">
  <link rel="stylesheet" href="scss/details.scss">
  <script src="//at.alicdn.com/t/font_2204608_dqjzjee62o.js"></script>
</head>

<body>
  <div id="root">
    <header class="z-header">
      <div class="z-header-inner">
        <a href="index.html">
          <div class="blog-name">简约博客</div>
        </a>
        <div class="username-login" id="username-login"></div>
      </div>
    </header>
    <main class="details-main">
      <div><span id="user"></span><span id="time"></span></div>
      <div id="details-title"></div>
      <div id="details-content"></div>

      <div id="article-box"></div>
    </main>
  </div>
  <script src="js/details.js"></script>
</body>

</html>