<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客</title>
  <link rel="stylesheet" href="scss/reset.scss">
  <link rel="stylesheet" href="scss/common.scss">
  <script src="//at.alicdn.com/t/font_2204608_dqjzjee62o.js"></script>
</head>
<body>
  <div id="root">
    <header class="z-header">
      <div class="z-header-inner">
        <a href="index.html">
          <div class="blog-name">简约博客</div>
        </a>
        <div class="input-wrapper">
          <input class="input-s" id="search" type="text" placeholder="请输入文章标题">
          <svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" class="search" aria-hidden="true">
            <use xlink:href="#icon-sousuo"></use>
          </svg>
        </div>
        <div class="username-login" id="username-login"></div>
      </div>
    </header>
    <main class="z-main">
      <div class="content">
        <div class="content-left">
          <div class="content-left-inner">
            <ul class="content-tab">
              <li class="content-tab-item">文章列表</li>
            </ul>
            <ul class="article-ul" id="article-box">
              
            </ul>
          </div>
        </div>
        <div class="content-right">
          <div class="content-right-inner">
            <div class="action">
              <a href="add.html">
                <div class="action-item">
                  <div class="action-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" class="action-icon" aria-hidden="true">
                      <use xlink:href="#icon-xiewenzhang"></use>
                    </svg>
                  </div>
                  <div class="action-title">写文章</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="./js/index.js"></script>
  <script src="./js/common_window.js"></script>
  <script>
    function logout(){
      console.log('退出')
      console.log($)
    }
  </script>
</body>
</html>