<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <link rel="stylesheet" href="scss/reset.scss">
  <link rel="stylesheet" href="scss/common.scss">
  <link rel="stylesheet" href="scss/login.scss">
  <script src="//at.alicdn.com/t/font_2204608_dqjzjee62o.js"></script>
</head>

<body>
  <div id="root">
    <header class="z-header">
      <div class="z-header-inner">
        <a href="index.html">
          <div class="blog-name">简约博客</div>
        </a>
      </div>
    </header>
    <main class="login-main">
      <div class="login-t">
        <span class="login-tab active">密码登录</span>
        <span class="login-tab">注册账号</span>
      </div>
      <form novalidate action="" class="login-form login-form-active">
        <div class="login-input"><input id="username" autocomplete="off" autofocus type="text" placeholder="请输入用户名"></div>
        <div class="login-input"><input id="password" autocomplete="off" type="password" placeholder="请输入密码"></div>
        <button id="login">登录</button>
      </form>
      <form novalidate action="" class="login-form">
        <div class="login-input"><input id="username-regist" autocomplete="off" autofocus type="text" placeholder="想一个用户名吧"></div>
        <div class="login-input"><input id="realname-regist" autocomplete="off" autofocus type="text" placeholder="真实名字"></div>
        <div class="login-input"><input id="password-regist" autocomplete="off" type="password" placeholder="请输入密码"></div>
        <button id="regist">注册</button>
      </form>
    </main>
  </div>
  <script src="./js/login.js"></script>
</body>

</html>