/*
总体布局
*/
body {
  background: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #121212;
}

#root {
  overflow: hidden;
}

.ib {
  display: inline-block;
  vertical-align: middle;
}

/*
头部
*/

.z-header {
  position: relative;
  z-index: 100;
  min-width: 1000px;
  overflow: hidden;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;

  .z-header-inner {
    position: relative;
    display: flex;
    width: 1000px;
    height: 52px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
    transition: transform .3s;
    justify-content: space-between;

    .blog-name {
      color: #0084ff;
      font-size: 22px;
    }

    .input-wrapper {
      background: #f6f6f6;
      padding-left: 12px;
      height: 34px;
      padding: 4px 10px;
      font-size: 14px;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      display: flex;
      align-items: center;
      width: 300px;
      position: relative;

      .input-s {
        padding: 0;
        overflow: hidden;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        background: transparent;
        border: none;
        resize: none;
        color: #121212;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding-right: 30px;

        &:focus {
          outline: none;
        }
      }

      .search {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 12px;
        cursor: pointer;
      }
    }

    .username-login {
      cursor: pointer;
      height: 52px;
      line-height: 52px;
      padding: 0 20px;
      margin-right: -20px;

      font {
        display: inline-block;
        height: 100%;
      }
    }

    .user-wrapper {
      width: 30px;
      height: 30px;
      cursor: pointer;

      .user-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*
主体
*/

.content {
  display: flex;
  align-items: flex-start;
  width: 1000px;
  padding: 0 16px;
  margin: 62px auto 10px auto;

  .content-left {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 694px;

    .content-left-inner {
      box-shadow: 0 1px 3px rgba(18, 18, 18, .1);

      .content-tab {
        background: #fff;
        border-bottom: 1px solid #f0f2f7;
        display: flex;
        height: 58px;

        .content-tab-item {
          align-items: center;
          display: flex;
          font-size: 16px;
          margin: 0 22px;
        }
      }
    }
  }

  .content-right {
    flex: 1;

    .content-right-inner {
      box-shadow: 0 1px 3px rgba(18, 18, 18, .1);

      .action {
        padding: 20px 15px;
        border-bottom: 1px solid #f6f6f6;
        background: #fff;
        display: flex;

        .action-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .action-item-icon {
            width: 32px;
            height: 32px;

            .action-icon {
              width: 100%;
              height: 100%;
            }
          }

          .action-title {
            font-size: 12px;
            line-height: 1;
            text-align: center;
            color: #444;
            margin-top: 12px;
          }
        }
      }
    }
  }
}

/*
文章列表
*/
#article-box {
  .article-li {
    border-bottom: 1px solid #f0f2f7;
    padding: 20px;
    background: #fff;

    &:nth-last-child(1) {
      border: 0;
    }

    .article-user {
      color: #b2bac2;
      margin-bottom: 10px;

      .article-username {
        margin-right: 10px;
      }
    }

    .title-article {
      line-height: 1.6;
      color: #121212;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }

    .title-description {
      margin-top: 9px;
      max-height: 100px;
      line-height: 1.67;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      cursor: pointer;
    }
  }
}


//退出登录菜单
.logout-wrapper {
  position: fixed;
  z-index: 100;
  width: 120px;
  box-shadow: 0 5px 20px rgba(18, 18, 18, .1);
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-size: 14px;
  color: #8590a6;

  .popover-arrow {
    position: absolute;
    left: 60px;
    top: 0;
    width: 32px;
    height: 16px;
    transform: translateX(-50%) translateY(-100%);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border: 1px solid #ebebeb;
      background: #fff;
      transform: rotate(45deg);
      bottom: -19px;
    }
  }

  li {
    cursor: pointer;
  }
}